
.h1{
    justify-content: center;
    margin: 0px;
}

.left{
    justify-content: flex-start;
}

.center{
    justify-content: center;
    text-align: center;
}

.right{
    justify-content: flex-end;
    text-align: end;
}



